<div class="layout-header flex gap-1 px-1 py-3 justify-content-between align-items-center">

    <div>

    </div>
    <div class="py-1">
        <span class="p-buttonset">
            <button pButton pRipple label="List" icon="pi pi-check"></button>
            <button pButton pRipple label="Grid" icon="pi pi-trash"></button>
        </span>
    </div>
    <div class="flex gap-1">
        <button pButton pRipple icon="pi pi-discord"
            class="p-button-text border-700 border-1 p-button-plain font-semibold text-left"></button>
        <button pButton pRipple icon="pi pi-github"
            class="p-button-text border-700 border-1 p-button-plain font-semibold text-left"></button>
            <p-button icon="pi pi-user" severity="info"></p-button>
    </div>
    <button pButton pRipple label="Suresh Kumar" class="mx-3 p-button-text font-semibold py-0 px-2">
        <p-avatar image="/assets/images/avatar_blue_bear.png" styleClass="mr-2 h-2rem"></p-avatar>
    </button>
</div>