<p-card header="Recent" subheader="CSRr" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <div class="card flex justify-content-center gap-2">
        <p-tag value="Primary"></p-tag>
        <p-tag severity="success" value="Success"></p-tag>
        <p-tag severity="info" value="Info"></p-tag>
        <p-tag severity="warning" value="Warning"></p-tag>
        <p-tag severity="danger" value="Danger"></p-tag>
    </div>
</p-card>