<!-- <form [formGroup]="createAccountFormGroup" class="flex align-items-center justify-content-center">
    <div class="surface-card p-3 shadow-2 border-round w-full lg:w-6 mt-4" style="max-width: 550px;">
        <div class="text-center mb-1">
            <img src="assets/images/zyncky.png" alt="Image" height="70" class="mb-1">
            <div class="text-900 text-3xl font-medium mb-1">Create New Account</div>
            <span class="text-600 font-medium line-height-3">Already have an account?</span>
            <a href="/login" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Login</a>
        </div>

        <div class="mb-2">
            <label for="username" class="block text-900 font-medium mb-2">Username</label>
            <input id="username" formControlName="userName" type="text" placeholder="Username" pInputText
                class="w-full mb-3">

            <label for="display-name" class="block text-900 font-medium mb-2">Display Name</label>
            <input id="display-name" formControlName="displayName" type="text" placeholder="Display Name" pInputText
                class="w-full mb-3">

            <label for="password" class="block text-900 font-medium mb-2">Password</label>
            <input id="password" formControlName="password" type="password" placeholder="Password" pInputText
                class="w-full mb-3">
        </div>
        <div class="flex justify-content-center mb-2">
            <p-button icon="pi pi-user-plus" [raised]="true" label="Create Account"
                (onClick)="createAccount()"></p-button>
        </div>
    </div>
</form> -->