<div class="card-center">
    <p-card [style]="{ width: '540px', padding: '1rem' }">
        <ng-template pTemplate="header">
            <div class="text-center pt-3">
                <img alt="App_Icon" src="assets/images/app_logo_transparent.png" />
                <div class="p-card-title">Sign In</div>
                <div class="p-card-subtitle">Use your Zyncky Account</div>
                <!-- <div class="text-900 text-3xl font-medium mb-1">Welcome User</div>
                <span class="text-600 font-medium line-height-3">Don't have an account?</span>
                <a href="/create-account" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">
                    Create New
                </a> -->
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <form action="#" [formGroup]="loginFormGroup">
                <span class="p-float-label mb-3 p-input-icon-left w-full">
                    <i class="pi pi-discord"></i>
                    <input class="w-full" pInputText id="username" type="text" formControlName="userName" />
                    <label htmlFor="username">Username</label>
                </span>
                <span class="p-float-label mb-5 p-input-icon-left p-input-icon-right w-full">
                    <i class="pi pi-key"></i>
                    <input class="w-full" pInputText id="password" formControlName="password"
                        type="{{showPassword?'text':'password'}}" />
                    <label htmlFor="password">Password</label>
                    <i class="pi {{showPassword?'pi-eye-slash':'pi-eye'}}" (click)="togglePassword()"></i>
                </span>
                <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" (click)="signIn()"></button>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider type="solid" align="center">
                <p-tag severity="success" value="OR"></p-tag>
            </p-divider>
            <span>Don't have an account?</span> 
            <a [routerLink]="['/signup']" class="ml-1">Sign up</a>
        </ng-template>
    </p-card>
</div>