:host {
  display: block;
  height: 100%;
  background-image: url(/assets/images/auth_background.svg);
}

.card-center {
  display: grid !important;
  place-content: center;
  height: 100%;
}

img {
  height: 80px !important;
  width: 180px !important;
}

a {
  color: var(--app-accent-color);
}

:host ::ng-deep .p-card .p-card-content {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

:host ::ng-deep .p-card .p-card-footer {
  padding-top: 0%;
  margin-top: 0%;
} 
