<aside app-sidebar class="layout-sidebar pt-1">
    <a [routerLink]="['/']" class="logo">
        <img alt="App_Icon" src="assets/images/app_logo_transparent.png" />
    </a>
    <nav>
        <ol class="layout-menu">
            <li>
                <button pButton pRipple label="Upload" icon="pi pi-upload" class="w-full">

                </button>
            </li>
            <li>
                <button pButton pRipple label="Search" icon="pi pi-search" 
                class="w-full p-button-text app-extra-color">
                </button>
            </li>
            <li>
                <button pButton pRipple label="Settings" text="true" icon="pi pi-cog"
                    class="w-full p-button-text app-extra-color">
                </button>
            </li>
        </ol>
    </nav>
</aside>