<aside class="layout-sidebar flex flex-column gap-1 p-2 justify-content-between">
    <a [routerLink]="['/user/dashboard']" class="mx-auto my-2">
        <img alt="Zyncky App Logo" src="assets/images/app_logo_transparent.svg" class="w-9rem" />
    </a>
    <nav class="p-o flex flex-column h-full">
        <ol class="list-none p-0 flex flex-column gap-1 mx-3 mb-0">
            <li>
                <button pButton pRipple label="My Files" icon="pi pi-folder"
                    class="p-button-text w-full hover:border-700 border-1 p-button-plain font-semibold text-left"
                    [ngClass]="{'border-700 border-left-3':activeItem}"></button>
            </li>
            <li>
                <button pButton pRipple label="Recent" icon="pi pi-clock"
                    class="p-button-text w-full hover:border-700 border-1 p-button-plain font-semibold text-left"></button>
            </li>
            <li>
                <button pButton pRipple label="Shared" icon="pi pi-users"
                    class="p-button-text w-full hover:border-700 border-1 p-button-plain font-semibold text-left"></button>
            </li>
            <li>
                <button pButton pRipple label="Settings" icon="pi pi-cog"
                    class="p-button-text w-full hover:border-700 border-1 p-button-plain font-semibold text-left"></button>
            </li>
            <li>
                <button pButton pRipple label="Recycle Bin" icon="pi pi-trash"
                    class="p-button-text w-full hover:border-700 border-1 p-button-plain font-semibold text-left"></button>
            </li>
        </ol>
        <p-divider type="solid"></p-divider>
        <div class="flex flex-column gap-2">
            <div class="font-semibold text-800">Storage</div>
            <p-progressBar [value]="50"></p-progressBar>
            <div class="text-700">2.5 GB used of 5 GB</div>
        </div>
    </nav>
    <button pButton pRipple label="Log out" icon="pi pi-sign-out" (click)="logout()"
        class="mx-3 p-button-secondary p-button-text p-button-outlined font-semibold"></button>
</aside>