/* PrimeNG | CSS */
@import "primeng/resources/primeng.css";
/* PrimeNG Icons | CSS */
@import "primeicons/primeicons.css";
/* PrimeNG | PrimeFlex | CSS */
@import "primeflex/primeflex.css";

:root {
  --app-background-color: #eaf7ee;
  --app-primary-color: #56558b;
  --app-primary-mid-dark-color: #474672;
  --app-primary-dark-color: #373659;
  --app-accent-color: #c8043f;
  --app-accent-dark-color: #a00332;
  --app-extra-color: #7c287c;
  --app-font-family: Helvetica !important;
  --app-sidebar-width: 250px;
}

html {
  display: block;
}

html,
body {
  margin: 0% !important;
  padding: 0% !important;
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  font-family: var(--app-font-family);
  background-color: var(--app-background-color);
  display: block;
}

input {
  height: 46px !important;
}

.p-divider-solid.p-divider-horizontal:before {
  border-top-style: solid !important;
}

.layout-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  width: var(--app-sidebar-width);
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.layout-sidebar > nav {
  padding: 0.5rem 1rem 2rem 1rem;
  margin-top: 0.5rem;
  flex-grow: 1;
  overflow-y: auto;
}

.layout-sidebar > nav > .layout-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
